@import '../variables';
@import '../mixins';
.banner{
    min-height: 100vh;
    background-size: cover;
    position: relative;
    z-index: 2;
   
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: block;
        width: 100%;
        height:100%;
        background:rgba(34, 34, 34,.5);
        background-size: cover;
        
    }
    &-video-wrapper {
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height:100%;
        video {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
            @include mq(lg) {
                object-fit: none;
            }
        }
    }
    &__content {
        position: relative;
        z-index: 1;
        padding-bottom: 42px;
    }
    @include mq(lg) {
        min-height: 75vh;
    }
    &-info {
        margin-top: 40px;
    }
    &--md {
        min-height: 560px;
        @include mq(lg) {
            min-height:70vh;
        }
    }
}

.scroll-container {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @include mq(xxl) {
        bottom: 40px;
    }
}
