@import '../variables';
@import '../mixins';

.footer {
    .container {
        @include mq(sm) {
            width: 94%;
         }
    }
    &__content {
        border: 1px solid $clr-gray-dark;
        border-radius: 10px;
        margin-block:100px 53px;
        @include mq(md){
            margin-block:100px 22px;
          }
        
            p , a {
                font-size: 17px;
                line-height: 35px;
                margin-bottom: 0;
                @include mq(md){
                    font-size: 16px;
                    line-height: 23px;
                  }
            }
            a {
                @include mq(md){
                    font-size: 14px;
                    line-height: 23px;
                  }
            }
            a:hover {
                color: $clr-accent;
            }
            p {
                color: $clr-gray;
                @include mq(md){
                        font-size: 14px;
                  }
              }
    }
    .copyright__content {
        padding: 24px 136px;
        border-top: 1px solid $clr-gray-dark;
        position: relative;
        @include mq(xxxl) {
            padding: 24px 60px;
         }
        @include mq(md) {
          gap: 25px;
          padding: 32px 40px;
         }
        .scroll-top-container {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @include mq(lg) {
                position: initial;
                order:1;
                transform:initial;
             }
        }
    }
    &-logo {
        @include mq(lg) {
          max-width: 196px;
        }
    }
    &__block-padding {
        padding-block:65px 77px;
        @include mq(md) {
            padding-block:65px 100px;
         }
    }
    &__left-padding {
        padding-left: 136px !important;
        @include mq(xxxl) {
            padding-left: 60px !important;
         }
        @include mq(lg) {
            padding-left: 0px !important;
         }
    }
    .copyright__links {
        display: flex;
        gap: 18px;
        @include mq(lg) {
            gap: 25px;
        }
    }
}

.border__left {
    border-left: 1px solid $clr-gray-dark;
    @include mq(lg) {
        border-top: 1px solid $clr-gray-dark;
        border-left: 0;
     }
     .footer__block-padding  {
        @include mq(md) {
            padding-block: 32px;
         }
     }
}