@import '../variables';
@import '../mixins';
.header{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
    .navbar {
      padding-block: 16px;
    }
    .header-logo {
      @include mq(xxl) {
        max-width: 200px;
      }
      @include mq(lg) {
        max-width: 154px;
      }
  }

    .btn__accent {
      margin-left: 29px;
      &:hover,
      &:focus {
        color: $clr-white !important;
        background: transparent !important;
      }
    }
   
    .navbar-nav {
       width: 100%;
       height: 100%;
       .nav-item {
        padding-inline:8px;
        @include mq(lg){
          padding-inline:0px;
          align-self: flex-start;
        }
       }
     
      .nav-link{
        color: $clr-white;
        font-size: 16px;
        line-height: 27px;
        font-weight: 600;
        padding: 3px 20px;
        position: relative;
        border: 1px solid transparent;
        border-radius: 4px;
        @include mq(xxl){
          padding: 3px 10px;
        }
        @include mq(lg){
          padding: 0;
          font-size: 20px;
          line-height: 50px;
          font-weight: 400;
          border:0;
        }
        &:hover,&:focus{
          color: $clr-white;
          border: 1px solid $clr-gray-dark;
          @include mq(lg){ 
            border:0;
          }
        }
        &:hover::after,&:focus::after{
          opacity: 1;
        }
        &.active {
          border: 1px solid $clr-gray-dark;
          @include mq(lg){ 
            border: 0;
            color: $clr-white;
            text-decoration: underline;
            text-underline-offset: 7px;
          }
         
        }
      }
    }
 
    
    .navbar-toggler{
      border: 0;
      &:focus {
        box-shadow: none;
      }
      }
     
      .offcanvas {
        width: 100%;
        background: rgba($color: $clr-black, $alpha: 1);
        @include mq(lg){
          padding:30px;
          min-height: 100vh;
        }
        @include mq(sm){
          padding:24px 20px;
        }
        .btn-close {
          background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
          border: 0;
          border-radius: 0;
          opacity: 1;
          width: 23px;
          height: 23px;
          &:focus {
            box-shadow: none;
          }
      }
      .offcanvas-body {
        @include mq(lg) {
          padding: 0;
          margin-top: 50px;
        }
      }
      }


  &:hover {
    .navbar {
      transform: translateY(0);
      @include mq(lg){
        transform: initial !important;
      }
    }
  }
  .link-hover::after {
    bottom: -8px;
  }

  &.active {
    position: fixed;
    top: 8px;
    left: 8px;
    right: 8px;
    @include mq(lg){ 
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
    }
    .navbar {
      transform: translateY(-100px);
      transition: transform .3s ease-in-out;
      background: $clr-dark;
      border: 1px solid $clr-gray-dark;
      border-radius: 10px;
      @include mq(lg){
        transform: initial !important;
        background:transparent;
        border: 0;
        border-radius: 0px;
      }
    }
}
&:hover .navbar {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
}

