@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
@import './variables';
@import './mixins';

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: $clr-gray;
    background: $clr-dark;
    @include mq(md){
      font-size: 16px;
      line-height: 23px;
    }
}


h1{
    font-size: 65px;
    line-height: 90px;
    font-weight: 400;
    font-family: 'Merriweather', serif;
    color: $clr-white;
    // @include mq(lg){
    //     font-size: 60px;
    //     line-height: 80px;
    // }
    @include mq(md){
        font-size: 30px;
        line-height:39px;
        font-weight: 700;
    }
}
h2{
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 24px;
    color: $clr-white;
    @include mq(md){
        font-size: 20px;
        line-height: 28px;
    }
}

h3{
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: $clr-white;
    @include mq(md){
        font-size: 16px;
        line-height: 23px;
    }
}

.section-title {
    font-size: 75px;
    line-height:90px;
    font-weight: 700;
    color: $clr-accent;
    @include mq(lg){
        font-size: 60px;
        line-height: 70px;
    }
    @include mq(md){
        font-size: 30px;
        line-height:39px;
        font-weight: 700;
    }
}
